{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Reset Password{% endblock %}
{% block content %}
<!--This is the first page the user sees after clicking the forgotten password link which prompts the user to type in 
their email address -->
<div class="limiter">
    <div class="auth_container">
        <div class="auth_wrap">
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new
                one.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="center_text">
                    <button class="btn btn-primary" type="submit">Send email</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}